Repository NOAA-RDHPCS/noaa-rdhpcs.github.io, pull requests merged in 2024-08, with the labels that each got.

#164 nothing but accounts
  .github/workflows/link_check.yml
  .github/workflows/publish_docs.yml
  source/accounts/about_accounts.rst
  source/accounts/index.rst
Labels: documentation, accounts

#165 RDHPCS FAQ stuff
  source/FAQ/index.rst
  source/getting_started/index.rst
  source/index.rst
Labels: documentation, user setup

#168 Add information about Rocoto under the Software tab
  source/software/index.rst
  source/software/python/x2go
  source/software/rocoto/index.rst
Labels: documentation, software

#169 updates to policies and best practices
  source/queue_policy/policies.rst
Labels: documentation

#170 updates to MSUHPC page
  source/systems/MSU-HPC_user_guide.rst
Labels: documentation, msu

#163 Cloud user guide
  source/FAQ/index.rst
  source/conf.py
  source/contributing/index.rst
  source/software/index.rst
  source/systems/cloud_user_guide.rst
  source/systems/hera_user_guide.rst
Labels: documentation, cloud

#156 Update ppan archive information
  .vscode/settings.json
  source/conf.py
  source/data/gfdl_archive.rst
  source/data/summary.rst
  source/systems/hera_user_guide.rst
Labels: documentation, ppan

#177 Move the X2Go page back to the software directory
  source/software/index.rst
  source/software/x2go.rst
Labels: bug, software

#182 118 ddt
  source/_downloads/gaea_slurm.qtf
  source/_downloads/hera_slurm.qtf
  source/_downloads/jet_slurm.qtf
  source/conf.py
  source/images/ddtMPISettings.png
  source/images/forge_remote_connect.png
  source/images/linaro_ddt_run.png
  source/images/linaro_forge_jobsubmitsettings.png
  source/images/linaro_forge_systemsettings.png
  source/images/python_cupy_1.png
  source/slurm/index.rst
  source/software/debuggers/index.rst
  source/software/index.rst
Labels: documentation, software
